@use "uniform" as * with (
  $config: (
		colors: (
			background: #22002B,
			heading-accent: #FC77FF,
			heading: #C03CFF,
			// link: #FF5CAA,
			paragraph: #D696EB,
			nav-item-active: #ff91b8,
			card: #4F0E60,

		),
		font-families: (
			sans: 'Inter',
			mono: 'menlo'
		),
		extend: (
			radiuses: (
				// 2xs: rem(3),
				// xs: rem(4),
				// sm: rem(6),
				// md: rem(8),
				// lg: rem(12),
				// xl: rem(16),
				// 2xl: rem(24),
				3xl: 2rem,
				4xl: 3rem
			)
		),
		utilities: (
			width: (
				extend: (
					variants: (
						768: 48rem
					)
				)
			),
			color: (
				extend: (
					pseudos: (group-focus)
				)
			),
			grid-template-columns: (
				extend: (
					variants: (
						// 24: 'repeat(24, minmax(0, 1fr))',
						16: 'repeat(16, minmax(0, 1fr))',
						18: 'repeat(18, minmax(0, 1fr))',
						20: 'repeat(20, minmax(0, 1fr))',
						24: 'repeat(24, minmax(0, 1fr))',
						32: 'repeat(32, minmax(0, 1fr))'
					)
				)
			)
		),
		// css-variables: false,
		comma-compression: true,
    excludes: (
			
    ),
    includes: (

    )
  )
);

@use "_font";
@use "_carbon";
@use "_glass-container";
@use "_glass-frame";
@use "_glass-keylight";
@use "_glass-code";

[x-cloak] {
	display: none !important;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #FFC960; /* Green background */
  cursor: pointer; /* Cursor on hover */
	border-radius: 9999px;
}

.slider::-moz-range-thumb {
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #FFC960; /* Green background */
  cursor: pointer; /* Cursor on hover */
	border-radius: 9999px;
}

.explorer-grid {
	@include apply('color-paragraph');
	&.is-xs {
		@include apply('grid grid-cols-20 p-10');
		svg {
			width: 14px;
		}
	}
	&.is-sm {
		@include apply('grid grid-cols-20 p-10');
		svg {
			width: 18px;
		}
	}
	&.is-md {
		@include apply('grid grid-cols-18 p-10');
		svg {
			width: 24px;
		}
	}
	&.is-lg {
		@include apply('grid grid-cols-18 p-10');
		svg {
			width: 32px;
			height: 32px;
		}
	}
}

.grid-icon {
	@include apply('flex align-items-center justify-content-center');
	aspect-ratio: 1 / 1;
	svg {
		width: 24px;
		height: 24px;
	}
}

.hero-frame-left {
	position: absolute;
	top: 0;
	left: -640px;
	width: 512px;
	pointer-events: none;
}

.hero-frame-right {
	position: absolute;
	top: 0;
	right: -640px;
	width: 512px;
	pointer-events: none;
}

.glowing-divider {
	position: relative;
	pointer-events: none;
	height: 2px;
	width: 100%;
	background: linear-gradient(to right, rgba(255,164,196,0) 0%, rgba(255,164,196,1) 25%, rgba(255,164,196,1) 75%, rgba(255,164,196,0) 100%);
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		content: '';
		display: block;
		width: 70%;
		height: 96px;
		background: white;
		border-radius: 100%;
		filter: blur(60px);
		mix-blend-mode: overlay;
		transform: translateX(-50%) translateY(-50%);
	}
}

.glass-pipe {
	@include apply('relative top-50p left-0 right-0 h-1 bg-white bg-opacity-20');
	@include screen(md) {
		@include apply('absolute top-0 bottom-0 left-50p w-1 h-auto');
	}
}

.vertical-pipe {
	@include apply('relative w-96 h-1');
	&:nth-child(2) {
		@include apply('absolute bottom-0 ml-320');
		@include screen(md) {
			@include apply('mb-320 ml-auto');
		}
	}
	&:last-child {
		@include apply('hidden absolute right-0');
		@include screen(md) {
			@include apply('block right-auto bottom-0 ml-auto');
		}
	}
	@include screen(md) {
		@include apply('relative w-1 h-96');
	}
}

.tail {
	@include apply('absolute top-0 left-0 w-96 h-1');
	background: linear-gradient(90deg, rgba(255, 177, 206, 0) 0%, #FFB1CE 101.23%);
	z-index: 2;
	@include screen(md) {
		@include apply('top-0 left-0 w-1 h-96');
		background: linear-gradient(180deg, rgba(255, 177, 206, 0) 0%, #FFB1CE 101.23%);
	}
}

.comet {
	display: block;
	position: absolute;
	
	right: -2px;
	bottom: -2px;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 99px;
	background: white;
	box-shadow: 0px 0px 14px 4px #FEC7FF;
	z-index: 3;
	@include screen(md) {
		bottom: 0;
	}
}
.glow {
	display: block;
	position: absolute;
	bottom: -50px;
	left: -100px;
	width: 200px;
	height: 100px;

	background: #78218D;
	filter: blur(60px);
	transform: rotate(-90deg);
	z-index: 1;
}