<div class="relative h-512">
  <ul class="grid grid-cols-18 p-10 color-white">
    {%- for categories, categoryContent in icons -%}
      {%- for icon, iconMeta in categoryContent -%}
        <li 
          class="grid-icon" 
          x-data="{ 
            
          }"
        >
          <div x-show="iconSettings.styles.line">
            <img src="/assets/img/icons/line/link-external-01.svg" onload="SVGInject(this)">
          </div>
          <div x-show="iconSettings.styles.duoLine">
            <img src="/assets/img/icons/line/link-external-01.svg" onload="SVGInject(this)">
          </div>
          <div x-show="iconSettings.styles.duoTone">
            <img src="/assets/img/icons/line/link-external-01.svg" onload="SVGInject(this)">
          </div>
          
        </li>
      {%- endfor -%}

    {%- endfor -%}
  </ul>


  <div class="absolute bottom-0 left-0 w-100p flex align-items-center justify-content-center">
    <div class="mb-32 radius-xl bg-black p-20">
      <ul class="flex flex-col sm.flex-row gap-32 sm.gap-24">
        <li>
          <div class="flex align-items-center mb-10 w-192">
            <div class="w-10 h-10 mr-10 border-t-2 border-l-2 radius-tl-xs border-white"></div>
            <h5 class="text-2xs leading-100 bold uppercase tracking-loose color-white">
              Roundness • <span class="color-heading-accent">Curved (2px)</span>
            </h5>
          </div>
          <input id="default-range" type="range" min="1" max="3" value="3" class="slider w-100p h-2 bg-white bg-opacity-30 radius-lg appearance-none cursor-pointer" x-model="iconSettings.roundness">
        </li>
        <li>
          <div class="flex align-items-center mb-10 w-192">
            <div class="flex align-items-center justify-content-center mr-10">
              <div>
                <div class="bg-white w-10 h-1 mb-2"></div>
                <div class="bg-white w-10 h-2 mb-2"></div>
                <div class="bg-white w-10" style="height: 3px;"></div>
              </div>
            </div>
            <h5 class="text-2xs leading-100 bold uppercase tracking-loose color-white">
              Stroke Width • <span class="color-heading-accent" x-text="iconSettings.strokeWidth">Default (2px)</span>
            </h5>
          </div>
          <input id="default-range" type="range" min="0" max="10" value="10" class="slider w-100p h-2 bg-white bg-opacity-30 radius-lg appearance-none cursor-pointer" x-model="iconSettings.strokeWidthSliderValue" @input="changeStrokeWidth($event)">
        </li>
      </ul>
    </div>
  </div>
</div>